body {
  background-color: #eeeeee;
}
h1{
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;

}
#ready_state{
  color: white;
}
#main{
  border:1px black solid;
  width:700px;
  height:700px;
  margin-left: auto ;
  margin-right: auto ;
}
#player_nr{
  float:right;  
}
#game{
  border:1px black solid;
  width:520px;
  height: 350px;
  margin-left: auto ;
  margin-right: auto ;
  background-image:url('/img/table.jpg');
  background-size: 100%;

}

#log{
  border:1px black solid;
  width:520px;
  height:200px;
  overflow: auto;
  margin-left: auto ;
  margin-right: auto ;
}
#player_nr{
  
}